.intro {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 3rem 0 0 3rem;
    width: 100%;
}
 span {
    display: block;
    color: black;
    margin: 0;
  }

  h1 {
    color: var(--text-highlight);
  }
 
.intro-form {
    margin-left: 0;
}


 main {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;

  }

main img {
    width: 50%;
    margin-top: 3rem;
 
  }
  