body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  --text-highlight: #00bfa6;
  --option1: #809bce;
}

/* dashboard container */

.grid-main {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--option1);
}

.budget {
  grid-column-start: 1;
  padding: 1rem;
  background-color: chocolate;
}
.expense {
  background-color: darkcyan;
  padding: 1rem;
}
.existing-budgets {
  grid-column: 1 / span 2;
  background-color: khaki;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.recent-expenses {
  padding: 1rem;
  width: 100%;
}

/* budget container */

.form-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

button {
  width: 50% !important;
  padding: 10px 15px;
}

/* expense form */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.expense-category {
  grid-column: 1 /3;
}
