@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

:root {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  --text-highlight: #00bfa6;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 0.9rem;
}

/* form styles */

.form-wrapper {
  border: dashed;
  padding: 2.5rem;
  color: black;
  margin: 1rem 2rem 2rem 1rem;
  width: 100%;
}

.form-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  border-radius: 7px;
  background-color: black;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 15px 5px;
  margin-top: 1rem;
}

input,
select {
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid black;
}

span {
  color: var(--text-highlight);
}

.main-layout {
  max-width: 100%;
}
